file://{{ .chezmoi.homeDir }}/Documents Documents
file://{{ .chezmoi.homeDir }}/Music Music
file://{{ .chezmoi.homeDir }}/Pictures Pictures
file://{{ .chezmoi.homeDir }}/Videos Videos
file://{{ .chezmoi.homeDir }}/Downloads Downloads
file://{{ .chezmoi.homeDir }}/Vault Vault
file://{{ .chezmoi.homeDir }}/Vault/Documents Vault/Documents
file://{{ .chezmoi.homeDir }}/Vault/Media Vault/Media
file://{{ .chezmoi.homeDir }}/Vault/Projects Vault/Projects
file://{{ .chezmoi.homeDir }}/Vault/Resources Vault/Resources
file://{{ .chezmoi.homeDir }}/Vault/Archive Vault/Archive
