[gpg]
  format = ssh

[gpg "ssh"]
{{- if env "CONTAINER_ID" }}
  program = {{ env "HOME" -}}/.config/git/op-ssh-sign-wrap.sh
{{- else }}
  program = "/opt/1Password/op-ssh-sign"
{{- end }}

[commit]
  gpgsign = true

[user]
  signingKey = {{ onepasswordRead "op://Developer/Github SSH Auth/public key" }}
  name = {{ onepasswordRead "op://Developer/Github/Security/name" }}
  email = {{ onepasswordRead "op://Developer/Github/username" }}
