[gpg]
  format = ssh

[commit]
  gpgsign = true

[user]
  signingKey = {{ (bitwarden "item" "7924ebfa-d6cd-476e-8441-b40f01820dea").sshKey.publicKey }}
  name = {{ (index (bitwarden "item" "7924ebfa-d6cd-476e-8441-b40f01820dea").fields 0).value }}
  email = {{ (index (bitwarden "item" "7924ebfa-d6cd-476e-8441-b40f01820dea").fields 1).value }}
